<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-danger">
        <u><h3 class="card-title">Your cars</h3></u>
      </div>
      <div *ngFor="let car of cars">
        <div class = "zahtev">
          <div class="card-body">
            <div class="row">

              <p>Name: {{car.name}}</p>
            </div>
            <div class="row">
              <p>Model: {{car.model}} </p>
            </div>
            <div class="row">
              <p>Brand: {{car.brand}} </p>
            </div>
            <div class="row">
              <p>Travelled: {{car.travelled}} km</p>
              <hr style="width: 570%">
            </div>

            <div class="clearfix"></div>
          </div>
          <div class="button-class">
            <button class = "btn btn-success buttons" (click)="enterReport(car)" >Enter a report</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
