<app-navbar></app-navbar>
<div>
  <form style = "text-align: center" (ngSubmit)="onSubmit()"  class="form-style-9">
    <ul>
      <li>
        <input [(ngModel)] = "this.username"  name="username" class="field-style field-full align-none" placeholder="E-mail" />
      </li>
      <li>
        <input [(ngModel)] = "this.password"  type="password" name="password" class="field-style field-full align-none" placeholder="Password" />
      </li>
      <li>
        <input class = "login" type = "submit" value="Log-in" />
      </li>
    </ul>
  </form>
</div>
