<div  mat-dialog-content>
  <li><label>Name: {{data.name}}</label></li>
  <li><label>Model: {{data.model}}</label></li>
  <li><label>Brand: {{data.brand}}</label></li>
  <li><label>Fuel Type: {{data.fuelType}}</label></li>
  <li><label>Transportation Type: {{data.transType}}</label></li>
  <li><label>Car Class: {{data.carClass}}</label></li>
  <li><label>Travelled: {{data.travelled}}</label></li>
  <li><label>Price: {{data.price}}</label></li>
  <li><label>Car Seats: {{data.carSeats}}</label></li>

  <button mat-button color="warn" (click)="onNoClick()">Close</button>
</div>
