<div>
  <app-navbar></app-navbar>
  <div style="float: left; width: 50%">
  <form class="form-style-9">
    <ul>
      <li>
        Name: {{dataSource.name}}
      </li>
      <li>
        Model: {{dataSource.model}}
      </li>
      <li>
        Brand: {{dataSource.brand}}
      </li>
      <li>
        Fuel Type: {{dataSource.fuelType}}
      </li>
      <li>
        Transportation Type: {{dataSource.transType}}
      </li>
      <li>
        Car Class: {{dataSource.carClass}}
      </li>
      <li>
        Travelled: {{dataSource.travelled}}
      </li>
      <li>
        Price: {{dataSource.price}}
      </li>
      <li>
        Car Seats: {{dataSource.carSeats}}
      </li>
      <li>
        Average grade: {{dataSource.grade}}
      </li>

    </ul>
  </form>
  </div>

  <div style ="float: right; width: 50%">
    <form *ngIf="rented" (ngSubmit)="onSubmit()" class="form-style-9">
      <label>Rate this advertisement: </label>
      <ul class="list-inline rating-list" *ngFor="let star of stars" style="margin-left: 10px;display: inline-block" >
        <li (click)="countStar(star)"><i [ngClass]="star <= selectedValue ? 'glyphicon glyphicon-star ' : 'glyphicon glyphicon-star-empty' "></i></li>
      </ul>

      <textarea rows="5" cols="49" [(ngModel)]="comment" name="comment" type="text" placeholder="Enter a comment..."></textarea>
      <input style="display: block; margin-top: 5px" class="btn btn-success" type="submit" value="Send"/>
    </form>

    <form *ngFor="let comment of this.dataSource.comments" class="form-style-9">
      <div>
        <label style = "display: block">Posted by: {{comment.userMail}}</label>
        <label *ngIf="comment.comment !== 'Komentar je obrisan od strane administratora'" style = "display: block">{{comment.comment}}</label>
        <label *ngIf="comment.comment == 'Komentar je obrisan od strane administratora'" style = "display: block"><i>{{comment.comment}}</i></label>
        <label style = "display: block">It was rated with a: {{comment.grade}}</label>
        <hr>
        <div style="margin-left: 35%" *ngIf="this.sessionService.isAgent && this.comment.replyDTO === null">
          <textarea [(ngModel)]="comment.replyText" name="reply" rows="3" cols="30" placeholder="Enter a reply..."></textarea>
          <button (click)="sendReply(comment)" style="display: block; outline:none; border: none; border-bottom: 1px solid gray; color: gray">Reply</button>
        </div>
        <div style="margin-left: 35%" *ngIf="this.comment.replyDTO !== null">
          <label style = "display: block">{{this.comment.replyDTO.agentMail}}</label>
          <label style = "display: block">{{this.comment.replyDTO.comment}}</label>
        </div>
      </div>
    </form>
  </div>
</div>
