<div>
  <app-navbar></app-navbar>
  <form class="form-style-9">
    <ul>
      <li>
        Id: {{dataSource.id}}
      </li>
      <li>
        Name: {{dataSource.name}}
      </li>
      <li>
        Model: {{dataSource.model}}
      </li>
      <li>
        Brand: {{dataSource.brand}}
      </li>
      <li>
        Fuel Type: {{dataSource.fuelType}}
      </li>
      <li>
        Transportation Type: {{dataSource.transType}}
      </li>
      <li>
        Car Class: {{dataSource.carClass}}
      </li>
      <li>
        Travelled: {{dataSource.travelled}}
      </li>
      <li>
        Price: {{dataSource.price}}
      </li>
      <li>
        Car Seats: {{dataSource.carSeats}}
      </li>

    </ul>
  </form>

</div>
