<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Users</h4>
      </div>
      <div style="width: 50%;" *ngFor="let enduser of endUsers">
        <div class = "zahtev">
          <div class="card-body">
            <div class="row">
              <p>E-mail adress: {{enduser.entityUser.loginInfo.email}}</p>
            </div>
            <div class="row">
              <p>Username: {{enduser.entityUser.loginInfo.username}} </p>
            </div>
            <div class="row">
              <p>JMBG: {{enduser.entityUser.jmbg}} </p>
            </div>
            <div class="row">
              <p>Canceled requests: {{enduser.numberOfRequestsCanceled}} </p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="button-class">
            <button class = "btn btn-success buttons" (click)="deactivate(enduser)" >Deactivate</button>
            <button style="margin-left: 10px" *ngIf="!enduser.blocked" class = "btn btn-danger buttons" (click)="block(enduser)" >Block</button>
            <button style="margin-left: 10px" *ngIf="enduser.blocked" class = "btn btn-danger buttons" (click)="unblock(enduser)" >Unblock</button>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
